In [8]:
import pandas as pd
import matplotlib.animation as animation
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import warnings
import requests
warnings.filterwarnings('ignore')

In [55]:
base_url='http://api.weatherapi.com/v1/current.json?key=8bbf0a19d81e45b9b84230143231602 &q=Ontario&'

In [77]:

data=requests.get(base_url).json()

In [78]:
data

{'location': {'name': 'Ontario',
  'region': 'California',
  'country': 'United States of America',
  'lat': 34.06,
  'lon': -117.65,
  'tz_id': 'America/Los_Angeles',
  'localtime_epoch': 1677021841,
  'localtime': '2023-02-21 15:24'},
 'current': {'last_updated_epoch': 1677021300,
  'last_updated': '2023-02-21 15:15',
  'temp_c': 14.0,
  'temp_f': 57.2,
  'is_day': 1,
  'condition': {'text': 'Partly cloudy',
   'icon': '//cdn.weatherapi.com/weather/64x64/day/116.png',
   'code': 1003},
  'wind_mph': 17.4,
  'wind_kph': 28.1,
  'wind_degree': 220,
  'wind_dir': 'SW',
  'pressure_mb': 1007.0,
  'pressure_in': 29.74,
  'precip_mm': 0.0,
  'precip_in': 0.0,
  'humidity': 67,
  'cloud': 75,
  'feelslike_c': 12.5,
  'feelslike_f': 54.4,
  'vis_km': 16.0,
  'vis_miles': 9.0,
  'uv': 5.0,
  'gust_mph': 13.9,
  'gust_kph': 22.3}}

In [58]:
from citipy import citipy
lat_lngs = []

# Empty list for holding the cities names
cities = []

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
print(f"Number of cities in the list: {len(cities)}")

Number of cities in the list: 613

In [83]:

city_data_df = pd.read_csv('cities.csv')
city_data_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,faya,18.3851,42.4509,22.06,35,21,2.60,SA,1666108228
1,1,farsund,58.0948,6.8047,13.30,100,0,7.65,NO,1666108228
2,2,new norfolk,-42.7826,147.0587,11.72,58,12,1.34,AU,1666108230
3,3,jamestown,42.0970,-79.2353,5.77,77,100,9.77,US,1666107934
4,4,lanzhou,36.0564,103.7922,14.53,48,59,1.20,CN,1666108230
5,5,ushuaia,-54.8000,-68.3000,8.81,81,75,3.09,AR,1666108231
6,6,albany,42.6001,-73.9662,10.36,74,29,2.10,US,1666108231
7,7,carnarvon,-24.8667,113.6333,20.02,76,0,7.46,AU,1666108232
8,8,sisimiut,66.9395,-53.6735,2.72,98,100,3.79,GL,1666108235
9,9,saint-pierre,-21.3393,55.4781,22.82,68,0,5.14,RE,1666108236